<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img src="../../../assets/img/login.png" alt="Login" class="logo">
        <h1>Recuperar Password</h1>
        <form [formGroup]="recuperarPassword" (ngSubmit)="recuperar()">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" placeholder="Email" formControlName="email">
                <label>Email address</label>
                <span *ngIf="recuperarPassword.get('email')?.hasError('required') && recuperarPassword.get('email')?.touched" class="text-danger labelError">El <strong>correo</strong> es requerido</span>
                <span *ngIf="recuperarPassword.get('email')?.hasError('email') && recuperarPassword.get('email')?.touched" class="text-danger labelError">El <strong>correo</strong> es invalido</span>
            </div>
            <div class="d-grid gap-2 mb-3">
                <button class="btn btn-primary btn-lg" type="submit" [disabled]="recuperarPassword.invalid">Recuperar</button>
            </div>
            <a routerLink="/login">Volver</a>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>